.dropdown:hover .dropdown-menu {
    display: block;
  }
.backgroundNav{
    background-color: #000;
}
.navItemColor{
    color: #d8dbde;
}
.navItemColor:hover{
    color:grey
}
.dropMenu{
    padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
.dropMenu li{
    padding: 0.5rem;
}